* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-image: url(./img/thumbbig-1280356.webp);
    background-size: cover;
    min-height: 100vh;
    color: #FBFFB9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #FDD692;

}

h1:hover {
    font-size: 4rem;
    transform: translateY(10px);
    transition: transform 1s ease;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    text-shadow: 2px 2px 2px #FDD692;
    border-bottom: solid 5px #F6B352;
}

.countdown-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    color: #EC7357;
    margin: 10px;
    font-size: medium;
    font-weight: bolder;
    flex-wrap: wrap;
}

.countdown-container:hover {
    transform: translateY(10px);
    transition: transform 2s ease-out;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    -webkit-transition: transform 2s ease-out;
    -moz-transition: transform 2s ease-out;
    -ms-transition: transform 2s ease-out;
    -o-transition: transform 2s ease-out;
    border: double 10px #AF4034;
    border-width: 10px;
    border-radius: 5px;
}

.countdown-el {
    margin: 1rem 1rem;
    text-align: center;
}

.big-text {
    font-size: 2rem;
    margin: 0 0.5rem;
    line-height: 1;
    text-shadow: 2px 2px 2px #FBFFB9;
}

.countdown-el span {
    font-size: 1rem;
    color: #AF4034;
    text-shadow: 1px 1px 1px #EC7357;
}

@media (min-width:560px) {
    h1 {
        font-size: 2rem;
    }

    h1:hover {
        font-size: 2.5rem;
    }
}